<h1>About</h1>
<p>Blocmarks allows a user to bookmark URLs via email, peruse other user's bookmarks and maintain a personal index of categorized bookmarks.</p>
<p>The bookmarks are organized by topic</p>
<p>Share your bookmarks and find new bookmarks for your use, too.</p>

